@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Alexandria';
  src: url('./assets/fonts/Alexandria/Alexandria-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Alexandria';
  src: url('./assets/fonts/Alexandria/Alexandria-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Alexandria';
  src: url('./assets/fonts/Alexandria/Alexandria-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Alexandria';
  src: url('./assets/fonts/Alexandria/Alexandria-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Alexandria';
  src: url('./assets/fonts/Alexandria/Alexandria-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Alexandria';
  src: url('./assets/fonts/Alexandria/Alexandria-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Anton';
  src: url('./assets/fonts/Anton/Anton.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
   @apply font-alexandria bg-greyPearl overflow-x-hidden;
}